<tr data-id="<%= stop.agency_stop_id -%>">
  <td><%= stop.name -%></td>
  <td><%= stop.wheelchair_boarding? ? 'Ja' : 'Nein' -%></td>
  <td>
    <%= stop.url -%>
    <%= link_to('Karte zeigen', "http://maps.google.com/maps?hl=de&ll=#{stop.lat},#{stop.lon}&t=v&z=17") %>
  </td>
</tr>