<tr>
  <td><strong><%= agency.name %></strong></td>
  <td>
    <%= link_to('txt', "/agencies/#{agency.id}/agency.txt") %>
  </td>
  <td>
    <%= link_to('txt', "/agencies/#{agency.id}/stops.txt") %>
  </td>
  <td>
    <%= link_to('html', [agency, :routes]) %>
    <%= link_to('txt', "/agencies/#{agency.id}/routes.txt") %>
  </td>
</tr>