<tr>
  <td><%= calendar_service.code %></td>
  <td><%= calendar_service.starts_on %></td>
  <td><%= calendar_service.ends_on %></td>
  <td><%= yes_no(calendar_service.monday?) %></td>
  <td><%= yes_no(calendar_service.tuesday?) %></td>
  <td><%= yes_no(calendar_service.wednesday?) %></td>
  <td><%= yes_no(calendar_service.thursday?) %></td>
  <td><%= yes_no(calendar_service.friday?) %></td>
  <td><%= yes_no(calendar_service.saturday?) %></td>
  <td><%= yes_no(calendar_service.sunday?) %></td>
</tr>